* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
 a,
 li {
   text-decoration: none;
   /* Отменяем подчеркивание у ссылки */
 }
 li {
   list-style-type: none;
   /* Убираем маркеры */
   display: inline-block;
   width: 200px;
   border: #212121;
   border: 1px;
   border-radius: 5px;
   padding: 5px;
 }

